:root {
    --primary-color: #b21e23;
    --white-text: #fff;
    --height-image: 300px;
}

.btn {
    padding: 10px 14px;
    outline: none;
    border: 1px solid var(--white-text);
    color: var(--white-text) !important;
    background-color: transparent;
    width: fit-content;
}

.btn.action {
    border: none;
    background-color: var(--primary-color);
    border-radius: 0px;
}

.btn.action > i {
    font-size: 20px;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    list-style-type: none;
}

/* home page */
.main {

}

/* header */
.header {
    height: 100px;
    background-color: #000;
    color: var(--white-text);
    display: flex;
    align-items: center;
}

.header > .container {
    display: flex;
    justify-content: space-between;
}

.header__logo img {
    height: 90px;
    width: 200px;
}

.header__title {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.header__title--provider {
    display: flex;
    margin-bottom: 8px;
    justify-content: end;
}

.header__title--provider span {
    margin-right: 30px;
    font-size: 14px;
}

.header__title--provider > span > i {
    transform: translateY(6px);
    font-size: 26px;
}

.header__title--provider > i {
    font-size: 24px;
    transform: translateY(8px);
}

.header__title--optional {
}

.header__title--optional > ul {
    display: flex;
    font-weight: bold;
    text-transform: uppercase;
    cursor: pointer;
}

.header__title--optional > ul > li {
    position: relative;
}

.header__title--optional > ul > li:last-child {
    background-color: var(--primary-color);
    padding: 0px 8px;
    border-radius: 20px;
}

.header__title--optional > ul > li:last-child:hover {
    background-color:  var(--primary-color) !important;
    color: white !important;
}

.header__title--optional > ul > li:hover {
    color: var(--primary-color);
}

.header__title--optional > ul > li~li {
    margin-left: 20px;
}

.header__title--optional > ul > li:hover .optional {
    display: flex;
    
}

.optional {
    display: none;
    position: absolute;
    right: 0;
    background: rgba(0, 0, 0, 0.8);
    font-size: 12px;
    padding-left: 0;
    width: 200px;
    border-top: 4px solid var(--primary-color);
    top: 36px;
    cursor: pointer;
    flex-direction: column;
    align-items: center;
    z-index: 100;
}

.optional::before {
    width: 100%;
    height: 30px;
    background-color: transparent;
    position: absolute;
    content: '';
    display: block;
    top: -20px;
}

.optional > li {
    width: 100%;
    padding: 10px;
    text-align: left;
    padding-left: 16px;
}

.optional > li ~ li::before {
    width: 160px;
    height: 1px;
    background-color: rgb(179, 159, 159);
    content: '';
    display: block;
    position: absolute;
    transform: translate(-4px,-10px);
}

.optional > li:hover {
    background-color: var(--primary-color);
    color: white;
}


.body {
    position: relative;
    background-color: black;
}

.body__video  {
    width: 100vw;
    position: relative;
}

.body__video--title {
    position: absolute;
    padding: 6px;
    background-color: rgba(0, 0, 0, 0.8);
    bottom: 26px;
    color: var(--white-text);
    left: 50%;
    transform: translateX(-50%);
    font-size: 14px;
    width: 960px;
}

.body__slogan {
    position: absolute;
    width: 490px;
    height: 220px;
    top: 30px;
    left: 90px;
    background-color: rgba(0, 0, 0, 0.8);
    color: var(--white-text) ;
    padding-left: 12px;
}

.body__slogan p {
    margin: 36px 0 24px 0;
}

.body__slogan h1 {
    font-size: 30px;
    font-weight: bold;
    margin-bottom: 36px;
}

.body__slogan button {
    padding: 10px;
    background-color: var(--primary-color);
    font-weight: normal;
    outline: none;
    border: none;
    color: var(--white-text);
}

.body__option {

}

.body_option--image {
    height: var(--height-image);
}

#body__option--small {
    width: 100%;
}

.body_option--image + h3 {
    color: white;
    background-color: black;
    height: 80px;
}

.body__mainCar {
    height: 660px;
    background-image: url("https://www.mercedes-amg.com/content/global/en/home/jcr:content/content/mediaslider_copy_778542791/slides/slide_copy_copy_copy/media1/image.media3.responsive_full_viewport_16_9.1654170880100.jpeg");
    background-repeat: no-repeat;
    background-size: contain;
    position: relative;
}

.body__mainCar.source {
    height: 660px;
    background-image: url("https://www.mercedes-amg.com/content/global/en/home/jcr:content/content/herostage_copy/teasers/teaser_copy_1096732759.media3.responsive_full_viewport_16_9.1659710127237.jpeg");
    background-repeat: no-repeat;
    background-size: contain;
    position: relative;
}

.body__mainCar--info {
    position: absolute;
    top: 34px;
    left: 87px;
    background-color: rgba(0, 0, 0, 0.8);
    padding:0px 16px;
    color: var(--white-text);
}

.body__mainCar--info.source {
    background-color: unset;
}

.info--title {
    padding: 32px 0px;
}

.info--heading {
    font-weight: bolder;
    font-size: 32px;
}

.info--detail {

}

.info--btn {
    padding: 10px 14px;
    border:1px solid var(--white-text);
    color: var(--white-text);
    outline: none;
    background-color: transparent;
    margin: 30px 0px 16px 0px;
}


.body__mainCar--title {
    position: absolute;
    background-color: rgba(0, 0, 0, 0.8);
    font-size: 14px;
    bottom: 48px;
    color: var(--white-text);
    right: 50%;
    transform: translateX(50%);
    width: max-content;
    padding:  8px;
}

.body__mainCar--title.source {
    right: 10px;
    transform: unset;
}

.body__branch {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.body__branch--heading {
    font-size: 28px;
    color: var(--white-text);
}

.body__branch--btns {

}

.body__car {
    margin-top: 96px;
}

.body__car--img {
    position: relative;
}

.img--image {
    background: url("https://www.mercedes-amg.com/content/global/en/home/jcr:content/content/imagetext_932124162_/sliders/imagetextslide/media/image.media3.responsive_image_text_1_1.1656944059798.jpeg");
    background-repeat: no-repeat;
    background-size: contain;
    height: 560px;
}

.img--image.right {
    background: url("https://www.mercedes-amg.com/content/global/en/home/jcr:content/content/imagetext_copy_copy/sliders/imagetextslide/media/image.media3.responsive_image_text_1_1.1653668360271.jpeg");
    background-repeat: no-repeat;
    background-size: contain;
    height: 560px;
}

.img--detail {
    font-size: 13px;
    color: var(--white-text);
}

.body__car--img > i {
    position: absolute;
    top: 0;
    right: 0;
    color: var(--white-text);
    font-size: 24px;
    background-color: black;
    padding: 4px;
}


.body__car--info {
    color: var(--white-text);
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
}

.info--type {
    margin-bottom: 50px;
}

.info--name {
    font-size: 28px;
    margin-bottom: 16px;
}

.info--detail {

}

.info--btn {

}




.footer {
    height: 100px;
    background-color: aqua;
}
